<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- first row -->
      <ion-row>
          <ion-col>
            <ion-card class="card-view">
              <ion-img src="/assets/placeholder.svg"></ion-img>
              <ion-card-header>
                <ion-card-title>Clinic</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Get access to clinics that are the closest to your current location.</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card-view">
              <ion-img src="/assets/news.svg"></ion-img>
              <ion-card-header>
                <ion-card-title>Brochure</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Our latest news platform compilation. View our events and more</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- second row -->
        <ion-row>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/calendar.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Events</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Get a calendar view of our coming events and more details</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/conversation.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>F.A.Q</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Frequently Asked Questions. You can directly ask us your questions</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

        <!-- third row -->
        <ion-row>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/community.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Join Us</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Become a peer educator and join the awesome group</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/contacts.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Contacts</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Contacts details for all CPUT campuses and more</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content> -->
