<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CPUT HIV/AIDS Unit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- first row -->
      <ion-row>
          <ion-col>
            <ion-card class="card-view">
              <ion-img src="/assets/placeholder.svg"></ion-img>
              <ion-card-header>
                <ion-card-title>Clinic</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Get access to clinics that are the closest to your current location within 80km.</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
          <ion-col>
            <ion-card class="card-view">
              <ion-img src="/assets/news.svg"></ion-img>
              <ion-card-header>
                <ion-card-title>Brochure</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Our latest news platform compilation. View our events and more</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- second row -->
        <ion-row>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/calendar.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Events</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Get a calendar view of our coming events and more details</p>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/conversation.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>F.A.Q</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Frequently Asked Questions. You can directly ask us your questions</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>

        <!-- third row -->
        <ion-row>
            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/community.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Join Us</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Become a peer educator and join the awesome group</p>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card class="card-view">
                <ion-img src="/assets/contacts.svg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Contacts</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Contacts details for all CPUT campuses and more</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>